/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

Gemfile.lock

*.swp
*.swo

spec/dummy/log/*
!spec/dummy/log/.keep
spec/dummy/.gitignore
spec/dummy/Gemfile
spec/dummy/Makefile
spec/dummy/orchestration/*
spec/dummy/config/unicorn.rb
spec/dummy/config/*.bak
spec/dummy/tmp/*

orchestration-*.gem

.byebug_history

TODO

docker/.build/
docker/.context.tar

.DS_Store

.ruby-version
