/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

Gemfile.lock

*.swp
*.swo

spec/dummy/log/*
!spec/dummy/log/.keep
spec/dummy/.gitignore
spec/dummy/Makefile
spec/dummy/orchestration/*
spec/dummy/config/unicorn.rb
spec/dummy/config/*.bak

orchestration-*.gem

.byebug_history

TODO

docker/.build/
docker/.context.tar
